.home{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: ease-in-out 500ms;
}

.container{
    width: 100%;
    transition: ease-in-out 500ms;
}

.container-name-title{
    font-weight: 900;
    font-size: 3rem;
    transition: ease-in-out 500ms;
}

.container-name-subtitle{
    margin-top: 20px;
    font-weight: 700;
    font-size: 2rem;
    transition: ease-in-out 500ms;
}
.container-text{
    margin-top: 32px;
    font-size: 1.3rem;
    line-height: .9;
    transition: ease-in-out 500ms;
    border-radius: 10px;
    font-weight: 500;
}
.button-container{
    margin-top: 73px;
    display: flex;
    justify-content: flex-start;
    transition: ease-in-out 500ms;
}
.button-link{
    text-decoration: none;
    font-size: 24px;
    background-color: var(--assets-color-red);
    color: var(--assets-color-white);
    padding: 12px 12px 8px;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
    transition: ease-in-out 500ms;
}
.button-link:nth-of-type(1){
    margin-left: 0px;
}

.button-link:hover{
    background-color: var(--assets-color-black-100);
    color: var(--assets-color-white);
}

.image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    z-index: -1;
    height: 100%;
    aspect-ratio: 3/4;
}

.rml-image{
    position: absolute;
    width: clamp(318.18px, 100%, 500px);
    height: clamp(418.68px, 100%, 657.92px);
    aspect-ratio: 4/4;
}

.brush-image{
    position: absolute;
    width: clamp(350px, 100%, 550px);
    height: clamp(350px, 100%, 550px);
}

@media only screen and (max-width: 768px) {
    .container-name-title{
        font-size: 2rem;
    }
    .container-name-subtitle{
        margin-top: 10px;
        font-size: 1.6rem;
    }
    .container-text{
        margin-top: 24px;
        font-size: 1rem;
    }

    .button-container{
        margin-top: 35px;
    }

    .button-link{
        font-size: 18px;
    }
}
@media only screen and (max-width: 700px) {
    .home{
        flex-direction: column-reverse;
    }
    .home .container{
        text-align: center;
    }
    .button-container{
        justify-content: center;
        align-items: center;
    }
    .image-container{
        height: 418.68px;
    }

    .rml-image{
        width: 318.18px;
        height: 418.68px;
    }
    
    .brush-image{
        width: 350px;
        height: 350px;
    }
}

@media only screen and (max-width: 410px) and (max-height: 810px) {
    .container-name-title{
        padding-top: 5px;
    }

    .image-container{
        height: 290px;
        padding-top: 60px;
    }

    .rml-image{
        width: 227.27px;
        height: 299.06px;
    }
    
    .brush-image{
        width: 250px;
        height: 250px;
    }
}
